DB_NAME=qualif_db
DB_USER=qualif_user
DB_PASS=secret
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=admin@example.com
SMTP_PASS="example_password"
EMAIL_FROM="Example - Admin"
FRONT_URL=https://example.com
CAMISOLE_URL=http://localhost:42920/run
MAX_CONCURRENT_JOBS=4

JWT_SECRET=super_secret_jwt_key_change_me

# Dates must be in ISO format
START_DATE=2026-04-08T11:30:00.000Z
FREEZE_DATE=2026-04-09T14:00:00.000Z

DOCKER_IMAGE_BACK=mes4game/site-qualif-back:latest
DOCKER_PORT_BACK=3000
DOCKER_MOUNTED_BACK=./mounted/site-qualif-back

DOCKER_IMAGE_DB=mes4game/site-qualif-db:latest
DOCKER_MOUNTED_DB=./mounted/site-qualif-db
